<footer>
  <p>
    Copyright &copy; <%= Time.now.year %>
    <%= link_to 'Alex Clifford', 'https://github.com/Clifford2910' %>
  </p>
  <p>
    Tech Support: <%= mail_to("aclifford336@gmail.com") %>
  </p>
</footer>
